^{:watch-dirs ["src"]
  :css-dirs ["resources/public/css"]
  :npm {:bundles {"dist/index.bundle.js" "src/js/index.js"}}
  :open-url false}

{:main          ledger-observer.core
 :infer-externs true
 :pseudo-names true
 :output-to     "resources/public/cljs-out/main.js"}
